<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address              = "net.msmq://localhost/private/PublicationQueue"
            binding              = "netMsmqBinding"
            bindingConfiguration = "PublicationQueue"
            contract             = "Contracts.Publication.IPublicationService"
         />
      </client>

      <bindings>
         <netMsmqBinding>
            <binding
               name                  = "PublicationQueue"
               timeToLive            = "00:10:00"
               exactlyOnce           = "true"
               receiveRetryCount     = "3"
               maxRetryCycles        = "50"
               retryCycleDelay       = "00:00:10"
               receiveErrorHandling  = "Move"
               deadLetterQueue       = "Custom"
               customDeadLetterQueue = "net.msmq://localhost/private/PublicationDLQ"
               >
               <security mode = "None"></security>
            </binding>
         </netMsmqBinding>
      </bindings>
   </system.serviceModel>
</configuration>