<?xml version="1.0"   encoding="utf-8"   ?>
<configuration>
   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
            propagateActivity="true">
            <listeners>
               <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                  <filter type="" />
               </add>
               <add name="ServiceModelTraceListener">
                  <filter type="" />
               </add>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add initializeData="C:\Users\Admin\Documents\Development\WCF\NextGenArchitecture\Hosts\Host.Publication\Publication.svclog"
            type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
            <filter type="" />
         </add>
      </sharedListeners>
   </system.diagnostics>
   <system.serviceModel>
      <diagnostics performanceCounters="All" />
      <client>
         <endpoint
               address="net.msmq://localhost/private/DistributionQueue"
               binding="netMsmqBinding"
               bindingConfiguration="DistributionQueue"
               contract="Contracts.DistributionHub.IDistributionHubService"
         />
      </client>

      <services>
         <service name="ServiceLayer.Publication.PublicationService"                behaviorConfiguration="PublicationQueueBehaviour">
            <endpoint
               address="net.msmq://localhost/private/PublicationQueue"
               binding="netMsmqBinding"
               bindingConfiguration="PublicationQueue"
               contract="Contracts.Publication.IPublicationService"
            />
         </service>

         <service name="ServiceLayer.Publication.PublicationPoisenService"               >
            <endpoint
               address="net.msmq://localhost/private/PublicationQueue;poison"
               binding="netMsmqBinding"
               bindingConfiguration="PublicationQueuePoison"
               contract="Contracts.Publication.IPublicationService"
            />
         </service>

         <service name="ServiceLayer.Publication.PublicationDLQService"               >
            <endpoint
               address="net.msmq://localhost/private/PublicationDLQ"
               binding="netMsmqBinding"
               bindingConfiguration="PublicationDLQ"
               contract="Contracts.Publication.IPublicationService"
            />
         </service>
      </services>

      <bindings>
         <netMsmqBinding>
            <binding
               name="PublicationQueue"
               timeToLive="00:10:00"
               exactlyOnce="true"
               receiveRetryCount="3"
               maxRetryCycles="50"
               retryCycleDelay="00:00:10"
               receiveErrorHandling="Move"
               deadLetterQueue="Custom"
               customDeadLetterQueue="net.msmq://localhost/private/PublicationDLQ"
               >
               <security mode="None"  ></security>
            </binding>

            <binding
               name="PublicationQueueORIG"
               timeToLive="00:50:00"
               exactlyOnce="true"
               receiveRetryCount="0"
               maxRetryCycles="100"
               retryCycleDelay="00:00:30"
               receiveErrorHandling="Move"
               >
               <security mode="None"  ></security>
            </binding>

            <binding
               name="PublicationQueuePoison"
               receiveRetryCount="0"
               retryCycleDelay="00:00:01"
               maxRetryCycles="5"
            >
               <security mode="None"  ></security>
            </binding>

            <binding
               name="PublicationDLQ"
               receiveRetryCount="3"
               retryCycleDelay="00:01:00"
               maxRetryCycles="3"
               exactlyOnce="true"
               receiveErrorHandling="Move"
            >
               <security mode="None"  ></security>
            </binding>

            <binding
               name="DistributionQueue"
               exactlyOnce="true"
               timeToLive="00:50:00"
               receiveRetryCount="1"
               maxRetryCycles="100"
               retryCycleDelay="00:01:00"
               receiveErrorHandling="Move"
               >
               <security mode="None"  ></security>
            </binding>
         </netMsmqBinding>
      </bindings>

      <behaviors>
         <serviceBehaviors>
            <behavior name="PublicationQueueBehaviour"                >
               <serviceThrottling
                  maxConcurrentCalls="10"
                  maxConcurrentInstances="10"
               />
            </behavior>

            <behavior name="Audit"                         >
               <serviceSecurityAudit
                  auditLogLocation="Default"
                  serviceAuthorizationAuditLevel="SuccessOrFailure"
                  messageAuthenticationAuditLevel="SuccessOrFailure"

               />
            </behavior>
         </serviceBehaviors>
      </behaviors>

   </system.serviceModel>
</configuration>