<?xml version="1.0"   encoding="utf-8"   ?>
<configuration>
   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
            propagateActivity="true">
            <listeners>
               <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                  <filter type="" />
               </add>
               <add name="ServiceModelTraceListener">
                  <filter type="" />
               </add>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add initializeData="C:\Users\Admin\Documents\Development\WCF\NextGenArchitecture\Hosts\Host.MediaStore\MediaStore.svclog"
            type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
            <filter type="" />
         </add>
      </sharedListeners>
   </system.diagnostics>
   
   <system.serviceModel>
   
      <diagnostics performanceCounters="All" />
      
      <services>
         <service name="ServiceLayer.MediaStore.MediaService">
            <endpoint
               address="http://localhost:8002/MediaService"
               binding="basicHttpBinding"
               bindingConfiguration="StreamedHTTP"
               contract="Contracts.MediaService.IMediaService"
            />
         </service>
      </services>

      <bindings>
         <basicHttpBinding>
            <binding name="StreamedHTTP" transferMode="Streamed" maxReceivedMessageSize="2190000" >
            </binding>
         </basicHttpBinding>
      </bindings>
     
   </system.serviceModel>
</configuration>