<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
            propagateActivity="true">
            <listeners>
               <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                  <filter type="" />
               </add>
               <add name="ServiceModelTraceListener">
                  <filter type="" />
               </add>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add initializeData="C:\Users\Admin\Documents\Development\WCF\NextGenArchitecture\Hosts\Host.DistributionHub\DistributionHub.svclog"
            type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
            <filter type="" />
         </add>
      </sharedListeners>
   </system.diagnostics>
   <system.serviceModel>
      <diagnostics performanceCounters="All" />
      <services>
         <service name = "ServiceLayer.DistributionHubService" behaviorConfiguration="DistributionQueueBehaviour">
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8000/DistribitionHubService" />
               </baseAddresses>
            </host>
            
            <endpoint
               address = "net.msmq://localhost/private/DistributionQueue"
               binding = "netMsmqBinding"
               bindingConfiguration = "DistributionQueue"
               contract = "Contracts.DistributionHub.IDistributionHubService"
            />
         </service>
      </services>
      
      <bindings>
         <netMsmqBinding>
            <binding
               name = "DistributionQueue"
               timeToLive = "00:10:00"
               exactlyOnce ="true"
               receiveRetryCount = "3"
               maxRetryCycles = "50"
               retryCycleDelay = "00:00:10"
               receiveErrorHandling = "Move"
               deadLetterQueue="Custom"
               customDeadLetterQueue="net.msmq://localhost/private/PublicationDLQ"
               >
               <security mode = "None"/>
            </binding>
         </netMsmqBinding>

         <basicHttpBinding>
            <binding name = "StreamedHTTP" transferMode="Streamed" maxReceivedMessageSize ="2190000">
            </binding>
         </basicHttpBinding>
      </bindings>

      <behaviors>
         <serviceBehaviors>
            <behavior name="DistributionQueueBehaviour">
               <serviceMetadata httpGetEnabled="true"/>
               <serviceThrottling
                  maxConcurrentCalls="10"
                  maxConcurrentInstances="10"
               />
            </behavior>
         </serviceBehaviors>
      </behaviors>

      <client>
         <endpoint
               name = "ServiceLayer.MediaStore.MediaService"
               address  = "http://localhost:8002/MediaService"
               binding  = "basicHttpBinding"
               bindingConfiguration = "StreamedHTTP"
               contract = "Contracts.MediaService.IMediaService"
            />

      </client>

   </system.serviceModel>
</configuration>